<div class="row">
  <form id="search_groups"><p class="field six columns">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <input type="text" name="search" placeholder="Look for groups..." class="input" autofocus autocomplete="off" />
  </form>
  <p class="medium primary btn icon-left entypo icon-plus-circled right-button"><%= link_to 'Create a new group', groups_new_path %></p>
</div>

<div class="row" id="groups_list">
  <table class="striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Group email address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "groups" %>
    </tbody>
  </table>
</div>
