<div class="row">
  <p><%= link_to 'Create a new user', users_new_path %></p>

  <table>
    <tr>
      <th>Username</th>
      <th>Full name</th>
      <th>E-mail address</th>
    </tr>
<% @users.each do | user | %>
    <tr>
      <td><%= link_to(user.uid, users_edit_path(:uid => user.uid)) %></td>
      <td><%= user.displayName %></td>
      <td><%= user.mail %></td>
    </tr>
  <% end %>
  </table>
</div>
