<div class="row">
  <p>Welcome to Zarafa Dashboard, <%= @current_user.cn %>!</p>

  <p>From here on out, you will be able to seamlessly administer your Zarafa deployment, its users, groups and corporate resources (namely, meeting rooms and bookable equipment).</p>
</div>
