<% unless @contacts.nil? or @contacts.empty?
  @contacts.each do | contact | %>
    <tr>
      <td><%= link_to(contact.uid, contacts_edit_path(:uid => contact.uid)) %></td>
      <td><%= contact.cn %></td>
      <td><%= contact.mail %></td>
      <td><div class="small danger btn icon-left entypo icon-cancel-circled"><%= link_to('Delete', contacts_delete_path(:uid => contact.uid), :class => "delete_contact") %></div></td>
    </tr>
  <% end
  else %>
    <tr>
      <td colspan="4">No result, try with another search</td>
    </tr>
<% end %>
