body {
  font-size: 0.9em;
  font-weight: 400;
}

h1 {
  font-size: 1.8em;
  font-weight: normal;
}

header p {
  margin: 0;
}

h2 {
  font-size: 1.4em;
  font-weight: 300;
  margin-bottom: 20px;
  border-bottom: 5px solid #236bb0;
}

.right-button {
  float: right;
  margin-bottom: 10px;
}

span.field_with_errors input {
  border-color: red !important;
}

form li div.btn {
  margin-top: 7px;
}

.navbar {
  margin-bottom: 0;
}

#authbar p {
  text-align: right;
  font-size: 0.9em;
}

form label {
  font-size: 0.9em;
  margin-bottom: 0;
}

table thead tr th, table tr td:first-child {
  font-weight: normal;
}

footer.row {
  border-top: 2px solid #236bb0;
  text-align: center;
  margin-top: 15px;
}

footer p {
  font-size: 0.9em;
}

div.field p.btn {
  margin-bottom: 0;
  margin-top: 23px;
  width: 100% !important;
}

div.field p.btn input {
  padding: 0 22px;
}

.btn.medium.icon-left a {
  font-weight: 300;
}
